<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <root>
        <priority value="warn" />
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.openiam" additivity="false">
        <level value="debug"/>
        <appender-ref ref="openiam-rep"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <appender name="openiam-rep" class="org.apache.log4j.RollingFileAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] %m%n" />
        </layout>
        <param name="File" value="../logs/openiam-report.log" />
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="50MB" />
        <param name="MaxBackupIndex" value="2" />

        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG" />
            <param name="LevelMax" value="FATAL" />
            <param name="AcceptOnMatch" value="true" />
        </filter>
    </appender>

    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %C{1} : %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO" />
            <param name="LevelMax" value="FATAL" />
            <param name="AcceptOnMatch" value="true" />
        </filter>
    </appender>

</log4j:configuration>