<suite name="TestAll">
 
	<test name="integration.entitlements">
		<classes>
			<class name="org.openiam.service.integration.entitlements.Group2GroupEntitlementsTest" />
			<class name="org.openiam.service.integration.entitlements.Group2ResourceEntitlementsTest" />
			<class name="org.openiam.service.integration.entitlements.Group2RoleEntitlementsTest" />
			<class name="org.openiam.service.integration.entitlements.Group2UserEntitlementsTest" />
			<class name="org.openiam.service.integration.entitlements.GroupServiceTest" />
			<class name="org.openiam.service.integration.entitlements.Organization2OrganizationEntitlementsTest" />
			<class name="org.openiam.service.integration.entitlements.Organization2UserEntitlementsTest" />
			<class name="org.openiam.service.integration.entitlements.OrganizationServiceTest" />
			<class name="org.openiam.service.integration.entitlements.OrganizationTypeServiceTest" />
			<class name="org.openiam.service.integration.entitlements.Resource2ResourceEntitlementsTest" />
			<class name="org.openiam.service.integration.entitlements.Resource2UserEntitlementsTest" />
			<class name="org.openiam.service.integration.entitlements.ResourceServiceTest" />
			<class name="org.openiam.service.integration.entitlements.Role2ResourceEntitlementsTest" />
			<class name="org.openiam.service.integration.entitlements.Role2RoleEntitlementsTest" />
			<class name="org.openiam.service.integration.entitlements.Role2UserEntitlementsTest" />
			<class name="org.openiam.service.integration.entitlements.RoleServiceTest" />
			<class name="org.openiam.service.integration.entitlements.ApproverAssociationServiceTest" />
			<class name="org.openiam.service.integration.entitlements.ResourceTypeServiceTest" />
			<class name="org.openiam.service.integration.entitlements.Organization2UserEntitlementsTest"/>
			<class name="org.openiam.service.integration.entitlements.Group2OrganizationEntitlementsTest"/>
			<class name="org.openiam.service.integration.entitlements.Role2OrganizationEntitlementsTest"/>
			<class name="org.openiam.service.integration.entitlements.Resource2OrganizationEntitlementsTest"/>
			
			<class name="org.openiam.authmanager.service.integration.AuthorizationManagerWebServiceTest"/>
			<class name="org.openiam.authmanager.service.integration.AuthorizationManagerHessianClientTest"/>
            <!--
			<class name="org.openiam.authmanager.service.integration.AuthorizationManagerMenuWebServiceTest" />
            -->
		</classes>
	</test>
	
	<test name="integration.meta">
		<classes>
			<class name="org.openiam.service.integration.meta.MetadataElementTemplateServiceTest" />
			<class name="org.openiam.service.integration.meta.MetadataElementTest" />
			<class name="org.openiam.service.integration.meta.MetadataTypeTest" />
			<class name="org.openiam.service.integration.meta.MetadataTemplateTypeServiceTest" />
		</classes>
	</test>
	
	<test name="integration.policy">
		<classes>
			<class name="org.openiam.service.integration.policy.PolicyTest" />
		</classes>
	</test>
	
	<test name="integration.user">
		<classes>
			<class name="org.openiam.service.integration.login.LoginServiceTest" />
		</classes>
	</test>
	
	<test name="integration.challenge.response">
		<classes>
			<class name="org.openiam.service.integration.challengeresponse.UserIdentityAnswerServiceTest" />
			<class name="org.openiam.service.integration.challengeresponse.IdentityQuestionServiceTest" />
		</classes>
	</test>
	
	<test name="integration.mail">
		<classes>
			<!--
			<class name="org.openiam.service.integration.mail.MailTemplateServiceTest" />
			-->
		</classes>
	</test>
	
	<test name="content.provider">
		<classes>
			<class name="org.openiam.service.integration.contentprovider.UIThemeServiceTest" />
			<class name="org.openiam.service.integration.contentprovider.ContentProviderServiceTest" />
			<class name="org.openiam.service.integration.contentprovider.URIPatternServiceTest" />
			<class name="org.openiam.service.integration.contentprovider.URIFederationServiceTest" />
		</classes>
	</test>
	
	<test name="auth.provider">
		<classes>
			<class name="org.openiam.service.integration.authprovider.AuthProviderServiceTest" />
		</classes>
	</test>
	
	<!--
	<test name="elasticache">
		<classes>
			<class name="org.openiam.elasticsearch.dao.EmailElasticSearchRepositoryTest" />
			<class name="org.openiam.elasticsearch.dao.LoginElasticSearchRepositoryTest" />
			<class name="org.openiam.elasticsearch.dao.PhoneElasticSearchRepositoryTest" />
			<class name="org.openiam.elasticsearch.dao.UserElasticSearchRepositoryTest" />
		</classes>
	</test>
	-->
</suite>